*{


}


header{
    width: 1366px;
    height: 200px;
    background-color: aqua;
    margin: 0 auto;
}


nav{
    width: 1366px;
    height: 50px;
    background-color: rgb(204, 8, 8);
    margin: 0 auto;
}

main{
    width: 1366px;
    height: 2000px;
    background-color: rgb(96, 11, 192);
    margin: 0 auto;
}

footer{
    width: 1366px;
    height: 200px;
    background-color: rgb(0, 255, 98);
    margin: 0 auto;

}

.foto{
    width: 400px;
}

.img{
    width: 400px;
}